*.swp
*.odg
*.xcf
__pycache__
C_Timer
derby_race_log.csv
Hardware
ssd1306_128x32_i2c
.idea
*.JPG 
*.pdf 
*.mp4
*.avi
*.odt
.~*
*.csv
*.ods
*.sch
*.gif
*.png
old_code
Rev2.0_required_changes.txt
TODO_Derby_Timer
race_manager.egg-info
*.yaml
pinewood.egg-info
dist
